<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.city.system.mapper.UserMapper">

    <resultMap type="com.city.system.entity.User" id="userResultMap">
        <id column="id" property="id" />
        <result property="enabled" column="is_enabled"/>
        <result property="deleted" column="is_deleted"/>
    </resultMap>

</mapper>
